*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.cart-container {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: aqua;
}
.img-cart {
    width: 180px;
    height: 100%;
    background-color: papayawhip;
    display: flex;
    justify-content: center;
    align-content: center;
}
.img-cart img {
    border-radius: 15px;
 
}
.texto-cart {
    width: 120px;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}